body{
    height: 100vh;
    width: 100%;
    background: url(/image/bg-login-page.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.login-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 600px;
    box-shadow: -21px 21px 24px 13px rgba(0, 0, 0, 0.42);
    border-radius: 16px;
}



.left-section{
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 100%;
    background: #ffffff;
    padding: 1.5rem ;
    border-radius: 16px 0 0 16px;
}

.left-section-content{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

.left-section-content > h2{
    margin: 0 0 1rem 0;
    font-weight: 500;
}
.left-section-content > p{
    font-size: 14px;
    color: #696969;
}
.left-section-content > form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 ;
}
.label-form{
    margin: 0.6rem 0;
    font-size: 14px;
    text-align: left;
}
.input-form{
    margin: 0 0 1rem 0;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    transition: all 0.3s ease;
}
.input-form:focus{
    border: 1px dashed black;
}
form > a{
    margin-top: 1rem;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    color: #0037ff;
}
.submit-btn{
    height: 2.5rem;
    margin-top: 0.8rem;
    color: rgb(255, 255, 255);
    background-color: #111010;
    border-radius: 4px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #000000;
}


.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #696969;
    font-size: 14px;
    margin: 0 0 1rem 0;
}
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border: none;
    border-bottom: 1px solid #b0b0b0;
}
.divider span {
    white-space: nowrap;
}


.login-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding: 0.4rem 0.6rem;
    color: #000000;
    text-decoration: none;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    min-width: 140px;
    height: 3rem;
    transition: all 0.3s ease;
}
.btn:hover{
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.082);
}
.btn > svg{
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}


.signup{
    color:#b0b0b0;
    font-size: 14px;
    margin-top: 2rem;
}
.signup > a{
    text-decoration: none;
    color: #0037ff;
}
.right-section{
    height: 100%;
}
.right-section img{
    height: 100%;
    border-radius: 0 16px 16px  0 ;
}